body {
	  margin: 0;
	  padding: 0;
	  background-color: #E1E1E1;
	  font-family: 'Varela Round', sans-serif;
	  height: 100%;
	}


	h3{
	  font-family: 'Raleway', sans-serif;
	  font-weight: 100;
	}


	img{
	  border: solid white 10px;
	  width: 60vw;
	  margin-bottom: 40px;
	}


	nav{
	  height: 50px;
	  margin-bottom: 15px;
	  color: #4B9CD3;
	  display: flex;
	  flex-direction: row;
	  justify-content: space-around;
	  text-transform: uppercase;
	}


	nav > p > a{
	  text-decoration: none;
	  color: #13294B;
	}


	nav > p > a:hover{
	  color: #007FAE;
	}


	footer{
	  height: 50px;
	  width: 100%;
	  background-color: #4B9CD3;
	  display: flex;
	  align-items: center;
	  position: fixed;
	  bottom: 0;
	  opacity: .9;
	}


	.icons-wrapper{
	  width: 30vw;
	  display: flex;
	  justify-content: space-around;
	  margin: 0 auto;
	}


	.icons-wrapper > a{
	  color:#13294B;
	  text-decoration: none;
	}


	.icons-wrapper > a:hover {
	  color:#F0F0F0;
	  cursor: pointer;
	}


	.about-text{
	  text-align: center;
	  border: solid 10px white;
	  line-height: 1.2;
	  color: purple;
	  width: 60vw;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	}


	.about-text h2{
	  color: green;
	  text-transform: uppercase;
	  font-size: 20px;
	}


	.about-text h3{
	  padding: 0 20px;
	  font-size: 14.3px;
	  color: #13294B;


	}


	.about-header-wrapper{
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  margin-bottom: 100px;
	}


	/* contact me page */
	.contact-wrapper h1{
	  text-align: center;
	  color: #4B9CD3;
	  text-transform: uppercase;
	  background-color: #13294B;
	}


	.contact-wrapper{
	  opacity: .8;
	  height: 50px;
	  background-color: #E1E1E1;
	}


	.contact-items  {
	  width: 25vw;
	  margin: 0 auto;
	  display: flex;
	  justify-content: space-around;
	  margin-top: 80px;
	  flex-direction: row;
	  align-items: center;
	}


	.contact-items i {
	  color: #4B9CD3;
	}

	.contact-items i:hover{
	  color: #13294B;
	}


	.contact-items h3{
	  color: #344B55;


	}





	@media screen and (min-width: 500px){
	  .about-text h3{
	    font-size: 18px;
	  }
	}


	@media screen and (min-width: 600px){
	  .about-text h3{
	    font-size: 20px;
	  }
	}




	@media screen and (min-width: 775px){
	  img {
	    width: 30vw;
	    /*height: 45vw;*/
	    margin-bottom: 50px;
	  }
	}

		@media screen and (min-width: 775px){
			.about-text{
				width: 30vw;
				height: 48.5vw;
				margin-bottom: 50px;
			}



	  .about-header-wrapper{
	    flex-direction: row;
	    width: 85vw;
	    margin: 0 auto;
	    display: flex;
	    justify-content: space-around;
	  }


	  .about-text h2{
	    font-size: 14px;
	  }


	  .about-text h3{
	    font-size: 13px;
	  }
	}


	@media screen and (min-width: 1200px){
	  .about-text h3{
	    font-size: 19px;
	  }


	  .about-text h2{
	    font-size: 30px;
	  }
	}










	/* projects page */
	.project-wrapper h1{
		text-align: center;
		color: #4B9CD3;
		text-transform: uppercase;
		background-color: #13294B;
	}


	.project-wrapper{
		opacity: .8;
		height: 50px;
		background-color: #E1E1E1;
	}


	.project-items  {
		width: 25vw;
		margin: 0 auto;
		display: flex;
		justify-content: space-around;
		margin-top: 80px;
		flex-direction: row;


	}


	.project-items i {
		color: #4B9CD3;
	}


	.project-items h3{
		color: #344B55;


	}

	@media screen and (min-width: 500px){
		.project-text h3{
			font-size: 18px;

		}
	}


	@media screen and (min-width: 600px){
		.project-text h3{
			font-size: 20px;
		}
	}




	@media screen and (min-width: 775px){
		img{
			width: 30vw;
			/*height: 45vw;*/
			margin-bottom: 50px;
		}


		@media screen and (min-width: 775px){
			.project-text{
				width: 30vw;
				/*height: 45vw;*/
				margin-bottom: 50px;
			}
		}


		.project-header-wrapper{
			flex-direction: row;
			width: 85vw;
			margin: 0 auto;
			display: flex;
			justify-content: space-around;
		}


		.project-text h2{
			font-size: 14px;
			color: green;
		}


		.project-text h3{
			font-size: 13px;



		}
	}


	@media screen and (min-width: 1200px){
		.project-text h3{
			font-size: 19px;

		}

		.project-text a{
			color: #4B9CD3;
		}

		.project-text h2{
			font-size: 30px;

		}
	}




	.button{
		padding: 16px;
		background-color: #13294B;
		color: #4B9CD3;
		font-size: 18px;
		border-radius: 10px;
		transition-duration: 0.4s;
		cursor: pointer;
	}

	.button:hover{
		background-color: #4B9CD3;
		color: #13294B;
		font-weight: bold;
	}
