body {
	/* margin: 0; */
	/* padding: 0; */
	/* background-color: #E1E1E1; */
	font-family: 'Varela Round', sans-serif;
	/* background-image: url('https://static1.squarespace.com/static/56eff436c2ea5144e9b6dce0/5861b28bbe6594106ff76705/5861b2aa03596eeb527fe719/1482883865229/Downtown-Durham-NC.jpg'); */
	background-image: url('https://jaredpattersonblog.files.wordpress.com/2018/05/img_1929.jpg');
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
}


img {
	border: solid #767676 10px;
	width: 60vw;
	margin-bottom: 40px;
}


nav {
	height: 50px;
	margin-bottom: 15px;
	color: #4B9CD3;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-transform: uppercase;
}


nav > p > a {
	text-decoration: none;
	/* color: #13294B; */
	color: #E1E1E1;
}


nav > p > a:hover {
	/* color: #007FAE; */
	color: #007FAE;
}


footer {
	height: 50px;
	width: 100%;
	background-color: #4B9CD3;
	display: flex;
	align-items: center;
	position: fixed;
	bottom: 0;
	opacity: .9;
}


.icons-wrapper {
  width: 30vw;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}


.icons-wrapper > a {
  color:#13294B;
  text-decoration: none;
}


.icons-wrapper > a:hover {
  color:#F0F0F0;
  cursor: pointer;
}


.about-header-wrapper {
	flex-direction: row;
	width: 85vw;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}


.about-text {
  text-align: center;
  border: solid 10px #767676;
  line-height: 1.2;
  color: #13294B;
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
	background: rgb(225, 225, 225, 0.9);
	padding: 10px;
}


.about-text h2 {
  color: green;
  text-transform: uppercase;
	/* font-family: 'Ubuntu', sans-serif; */
	/* font-family: 'Monoton', sans-serif; */
	font-weight: bold;
	/* font-size: 40px; */
}


.about-text h3 {
  padding: 0 20px;
  font-size: 14.3px;
  color: #13294B;
	font-family: 'Varela Round', sans-serif;
	/* color: #E1E1E1; */
}


.about-header-wrapper {
	display: flex;
	/* flex-direction: column; */
	align-items: flex-start;
	margin-bottom: 100px;
	margin-left: 50px;
}


/* Contact Me page styling */

.contact-wrapper h1 {
  text-align: center;
  color: #4B9CD3;
  text-transform: uppercase;
  /* background-color: #13294B; */
	padding-top: 5px;
}


.contact-wrapper {
  /* opacity: 0.8; */
  height: 50px;
  /* background-color: #E1E1E1; */
	background: rgb(19, 41, 75, 0.8);
}


.contact-items  {
  width: 25vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  flex-direction: row;
  align-items: center;
}


.contact-items i {
  color: #4B9CD3;
}


.contact-items i:hover{
  color: #13294B;
}


.contact-items h3{
  color: #344B55;
}





@media screen and (min-width: 500px) {
  .about-text h3 {
    font-size: 18px;
  }
}


@media screen and (min-width: 600px) {
  .about-text h3 {
    font-size: 20px;
  }
}




@media screen and (min-width: 775px) {
  img {
    width: 30vw;
    /*height: 45vw;*/
    margin-bottom: 50px;
  }
}


@media screen and (min-width: 775px) {
	.about-text {
		width: 30vw;
		/* height: 48.5vw; */
		margin-bottom: 50px;
		}







/* .about-text h2 {
	font-size: 14px;
} */


.about-text h3{
	font-size: 13px;
	  }
}


	@media screen and (min-width: 1200px){
	  .about-text h3{
	    font-size: 19px;
	  }


	  .about-text h2{
	    font-size: 30px;
	  }
	}










/* --- Projects Page styling --- */

.project-wrapper h1{
	text-align: center;
	color: #4B9CD3;
	text-transform: uppercase;
}


.project-wrapper h3 {
	text-align: center;
	color: #E1E1E1;
}


.project-wrapper a {
	color: #E1E1E1;
	text-decoration: none;
}

.project-wrapper a:hover {
	color: #007FAE;
}


.project-wrapper{
	height: 50px;
	background: rgb(19, 41, 75, 0.8);
	margin-bottom: 60px;
	vertical-align: middle;
}


.project-items  {
	width: 25vw;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	margin-top: 80px;
	flex-direction: row;
}


.project-items i {
	color: #4B9CD3;
}


.project-items h3{
	color: #344B55;


}


.project-text {
	background: rgb(225, 225, 225, 0.6);
	padding: 5px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 5px;
	width: 60vw;
	margin-bottom: 60px;
}


@media screen and (min-width: 500px){
		.project-text h3{
			font-size: 18px;

		}
}


@media screen and (min-width: 600px){
		.project-text h3{
			font-size: 20px;
		}
}




@media screen and (min-width: 775px){
		img{
			width: 30vw;
			/*height: 45vw;*/
			margin-bottom: 50px;
}


@media screen and (min-width: 775px){
		.project-text{
				width: 30vw;
				/*height: 45vw;*/
				margin-bottom: 50px;
			}
}


.project-header-wrapper{
	flex-direction: row;
	/* width: 85vw; */
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}


.project-text h2{
	font-size: 20px;
	color: green;
}


.project-text h3{
	font-size: 13px;
	color: #13294B;
		}
}


@media screen and (min-width: 1200px){
	.project-text h3{
		font-size: 19px;

	}


.project-text a{
	color: #4B9CD3;
}


.project-text h2{
	font-size: 30px;

		}
}




.button{
	padding: 16px;
	background-color: #13294B;
	color: #4B9CD3;
	font-size: 18px;
	border-radius: 10px;
	transition-duration: 0.4s;
	cursor: pointer;
}


.button:hover{
	background-color: #4B9CD3;
	color: #13294B;
	font-weight: bold;
}





/* --- Portfolio Page styling --- */

.portfolio-header-wrapper{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 100px;
	margin-left: 50px;
}


.portfolio-text h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 100px;
	font-weight: 600;
	color: green;
	/* padding: 80px; */
	position: absolute;
	bottom: 0;
	/* display: flex; */
	margin-bottom: 120px;
}


.portfolio-text h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 60px;
	color: green;
	padding-top: 60px;
	position: absolute;
	bottom: 0;
	/* display: flex; */

}


.portfolio-wrapper h1{
	text-align: center;
	color: #4B9CD3;
	text-transform: uppercase;
	/* background-color: #13294B; */
	padding-bottom: 5px;
}


.portfolio-wrapper{
	/* opacity: 0.8; */
	height: 50px;
	/* background-color: #E1E1E1; */
	background: rgb(19, 41, 75, 0.8);
	padding-bottom: 100px;
}
